<div class="row"></div>
<div class="row">
	<div class="col m4 hide-on-small-only">
		{{> _create-post-card}}
	</div>
	<div class="col s12 m8">
	{{#each posts}}
		<div class="card">
			<div class="card-content">
				<div class="card-title">
					<div class="chip">
						<img src="data:image/jpeg;base64,{{formatImage user.image}}">
						<a href="/users/{{user.id}}" class="black-text lighten-4">{{user.firstName}} {{user.lastName}}</a>
					</div>
					<div class="divider"></div>
					{{title}}
				</div>
				<div class="">
					{{stripTags (truncate body 350)}}
				</div>
				<br>
				<div class="grey-text">
					{{formatDate createdAt 'MMMM Do YYYY, h:mma'}}
					<i>{{#ifNotEq createdAt updatedAt}}(edited {{formatDate updatedAt 'MMMM Do YYYY, h:mma'}}){{/ifNotEq}}</i>
				</div>
			</div>
			<div class="card-action">
					<a href="/posts/show/{{id}}" class="red-text">read more</a>
					<a href="/posts/edit/{{id}}" class="red-text">edit</a>
					<a href="#modal{{id}}" class="red-text modal-trigger">delete</a>
				</form>
			</div>
		</div>
		<div class="modal" id="modal{{id}}">
			<div class="modal-content">
				<form action="/posts/{{id}}?_method=DELETE" method="post" id="delete-form{{id}}" >
						<input type="hidden" name="_method" value="DELETE">
					<h5 class="center">Are you sure you want to delete this post?</h5>
					<div class="center">
						<button type="submit" class="btn red">Delete</button>
						<button type="button" class="btn red modal-close">Cancel</button>
					</div>
				</form>
			</div>
		</div>
	{{else}}
		<div class="card">
			<div class="card-content">
				<div class="card-title">
					You have nothing to see!
				</div>
				<p>Here are some things to get you started</p>
			</div>
			<div class="card-action">
				<a href="/user/edit/:id" class="red-text">Update profile</a>
				<a href="/circles/index" class="red-text">find circles</a>
				<a href="/users/index" class="red-text">find friends</a>
				<a href="/posts/add" class="red-text">first post</a>
				<a href="/circles/add" class="red-text">create circle</a>
			</div>
		</div>
	</div>
	{{/each}}
</div>
